body {
    font: 20px Georgia;

}.navbar {
    background-color: lightgoldenrodyellow;
}

.quem-somos {
    background-color: rgb(219, 227, 236);
    color: black;
    font-size: 15px;
}

.margin {
    padding-bottom: 20px;
    padding-top: 10px;
}

.parceiros {
    background-color: lightpink;
}

.servicos {
    background-color: rgb(212, 235, 212);
    font-size: 15px;
}

.bg-footer {
    background-color: black;
    color: lightpink;
}